In [1]:
import pandas as pd

In [4]:
tf = pd.read_csv('datasets/transfusion.data')

In [5]:
tf.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [6]:
tf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [7]:
tf.rename(columns={'Frequency (times)':'Frequency'},inplace=True)

In [8]:
tf.head()

,Recency (months),Frequency,Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [12]:
tf.Frequency.value_counts(normalize=True).round(3)

1     0.211
2     0.150
3     0.116
4     0.083
5     0.083
6     0.070
7     0.057
8     0.041
9     0.032
11    0.029
10    0.019
12    0.019
16    0.017
14    0.017
13    0.012
15    0.008
17    0.005
24    0.004
19    0.003
20    0.003
21    0.003
22    0.003
46    0.001
18    0.001
23    0.001
26    0.001
33    0.001
34    0.001
38    0.001
41    0.001
43    0.001
44    0.001
50    0.001
Name: Frequency, dtype: float64